@model Apartments_io.Areas.Resident.ViewModels.Apartments.ListViewModel

<div class="mb-5">
    @for (int i = 0; i < 2; ++i)
    {
        <div class="card-deck mb-2">

            @foreach (Apartment apartment in Model.Apartments.Skip(i * 3).Take(3))
            {
                <div class="card">

                    <img src="@apartment.MainPhoto" alt="@apartment.Name" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@apartment.Name</h5>
                        
                        <p class="card-text">
                            Rent expire date:
                            @if ((apartment.RentEndDate - DateTime.Now)?.Days <= 90)
                            {
                                <span class="text-warning font-weight-bold">@apartment.RentEndDate?.ToShortDateString()</span>
                            }
                            else
                            {
                                <span class="text-info font-weight-bold">@apartment.RentEndDate?.ToShortDateString()</span>
                            }
                        </p>

                    </div>
                    <div class="card-footer">
                        <a class="btn btn-info w-100" asp-controller="Apartments" asp-action="Single" asp-route-apartmentId="@apartment.Id">Open</a>
                    </div>
                </div>
            }

        </div>
    }
</div>


<!--PAGINATION-->
<pagination-link pagination-model="Model.PaginationModel" controller-name="Apartments" action-name="MyRent"></pagination-link>